<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Rate My Classes | CS336</title>

    <!--<link href ="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home') }}">Rate My Classes</a>
    </div>
      {% block links %}
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-primary" href="{{ url_for('createReview') }}">New Review</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-warning" href="{{ url_for('home') }}">Read Review</a></li>
      </ul>
      {% endblock %}
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-success" href="{{ url_for('logout') }}">Log Out</a></li>
    </ul>


  </div>
</nav>
<br>
<hr>
<div class="container-fluid">
    {% block body %}

{% endblock %}
</div>

</body>
</html>