<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Rate My Classes | CS336</title>
    <link href ="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <link href ="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>

<div class="login-page">

  <div class="form">
    <h1>Register</h1>
    <form class="register-form" action="/register" method="post">

      <input name="username" type="text" class="form-control" placeholder="Username">
      <input name="email" type="email" class="form-control" placeholder="Email">
      <input name="password" type="password" class="form-control" placeholder="Password">
      <!--<input id="majorname" name="major_name" type="text" class="form-control" placeholder="School Major">-->
      <select name="major_name" class="form-control">
        {% for i in majorlist %}
          <option value="{{ i.major_name }}">{{ i.major_name }}</option>
        {% endfor %}

      </select>


      <button type="submit" class="btn btn-primary">Sign Up</button>
      <p class="message">Already registered? <a href="{{ url_for('login') }}">Sign In</a></p>
    </form>
  </div>
</div>

</body>
</html>

